@using AppointmentSystem.Models
@{
    List<Reservation> reservations = ViewBag.reservations;
}

<!-- 引入 Bootstrap 的 CSS 樣式 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Reservation reservation in reservations)
            {
            <tr>
                <td>@reservation.ID</td>
                <td>@reservation.NAME</td>
                <td>@reservation.PHONE</td>
                <td>@reservation.DATE</td>
                <td>@Html.ActionLink("編輯","EditReservation",new {id=reservation.ID})</td>
                |
                <td>@Html.ActionLink("刪除","DeleteReservation",new {id=reservation.ID})</td>
            </tr>
            }
        </tbody>
    </table>
    <p>
        @Html.ActionLink("新增預約","CreatedReservation")
</div>

<!-- 引入 Bootstrap 的 JavaScript 和 Popper.js（如果需要的話） -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>